
*.zip
*.csv
*.csv
*.zip
**/dataflow_build_dir
**/output_estimate_only
**/output_ipstitch_ooc_rtlsim
**/rtlsim_output_dir
*.qt
Model/CNN-1D/results/resutls.xlsx
Model/CNN-1D/output_estimates_only/time_per_step.json
Model/CNN-1D/output_estimates_only/report/estimate_layer_config_alternatives.json
Model/CNN-1D/output_estimates_only/report/estimate_layer_cycles.json
Model/CNN-1D/output_estimates_only/report/estimate_layer_resources.json
Model/CNN-1D/output_estimates_only/report/estimate_network_performance.json
Model/CNN-1D/output_estimates_only/report/op_and_param_counts.json
Model/CNN-1D/output_estimates_only/report/test.json
Model/CNN-1D/results/resutls.json
Model/CNN-1D/output_estimates_only/build_dataflow.log
Model/CNN-1D/__pycache__/preProcessing.cpython-36.pyc
Model/CNN-1D/__pycache__/preProcessing.cpython-38.pyc
Model/CNN-1D/__pycache__/preProcessing.cpython-39.pyc
Model/CNN-1D/model1.pt
Model/CNN-1D/model_q.pt
